@import "../../global.scss";

.portfolio{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    vertical-align: middle;

    h1{
        position: absolute;
        margin: auto;
        top: 2%;
        line-height: 51px;
        font-size: 30px;
        font-weight: 700;
    }


    .arrow{
        width: 5vw;
        height: 5vh;
        position: absolute;
        cursor: pointer;

        @include mobile {
            width: 5vw;
            height: 10vh;
        }

        &.left{
            left: 200px;

            @include mobile {
                left: 0%;
            }
        }
        &.right{
            right: 200px;

            @include mobile {
                right: 0%;
            }
        }
    }

    .slider{
        position: absolute;
        display: flex;
        height: 55vh;
        left: 0;
        transition: all 0.5s ease-out;

        @include mobile {
            height: 70vh;
            justify-content: center;
            overflow: hidden;
        }

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile {
                overflow: hidden;
            }

            .item{
                width: 60vw;
                height: 100%;
                background-color: white;
                border-radius: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile {
                    width: 90%;
                    height: 100%;
                    margin: 5vh 0;
                }
            }

            .left{
                flex: 0.5;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .leftContainer{
                    width: 90%;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    h2{
                        font-size: 20px;
                    }
                    p{
                        font-size: 14px;
                    }
                }

            }
            .right{
                flex: 0.5;
                background-color: palegoldenrod;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                object-fit: contain;

                img{
                    object-fit: contain;
                }
            }
        }
    }

}